html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(31, 31, 31);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

* {
  text-align: center;
}

h1 {
  color: white;
}

h2 {
  color: rgb(167, 167, 167);
  text-decoration: underline;
}

a {
  color: royalblue;
  text-decoration: none;
}

p {
  color: rgb(128, 128, 128);
}
