:root {
  --color1: rgb(31, 31, 31);
  --color2: rgba(128, 128, 128, 0.2);
}

/*             Scrollbar             */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.5);
  transition: 1s;
  /*border-radius: 5px;*/
}

::-webkit-scrollbar-thumb {
  background: gray;
  transition: 1s;
  /*border-radius: 5px;*/
}

* {
  outline: none;
}

body,
html {
  background-color: var(--color1);
  color: white;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  user-select: none;
  height: 100%;
}

div#main {
  width: 100vw;
  height: fit-content;
  background-color: var(--color2);
  height: 100%;
  overflow-x: hidden;
}

div#rows {
  display: flex;
  justify-content: center;
  width: 100%;
}

#output {
  width: 100%;
  font-size: 160%;
  background-color: var(--color2);
  color: white;
  border: none;
  outline: none;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

input,
button,
select,
option {
  background-color: var(--color1);
  border: none;
  color: white;
  text-align: center;
  border-radius: 0px;
}

input[type="number"] {
  width: 100%;
}

button:hover {
  background-color: gray;
  cursor: pointer;
}

th {
  background-color: var(--color2);
}
#settings {
  display: flex;
  justify-content: center;
}

#score_name,
#score_objective {
  margin: 5px;
  padding: 5px;
  background-color: var(--color2);
}

button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

a#back {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}

/* new */

div#searchbox {
  height: 100vh;
  width: 25%;
  background-color: rgb(31, 31, 31);
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: scroll;
}

div#searchbox input#searchbar {
  position: sticky;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(0, 0, 0, 1);
}

.hidden {
  display: none !important;
}

.mc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
  margin: 5px;
  padding: 0;
  background-color: red;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  word-break: break-all;
}

.mc-list:hover {
  cursor: pointer;
  outline: 1px solid white;
}

.mc-block {
  background-color: royalblue;
}

.mc-summon {
  background-color: limegreen;
}

ol#searchList {
  display: flex;
  flex-wrap: wrap;
}
